.b-header {
  background-image: url(img/headerbcg.jpg);
  height: 765px;
}

.b-header__linkBar {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
}

.b-header__nav {
  padding-top: 7px;
  align-self: center;
}

.b-logo {
  display: flex;
}

.b-logo_footer {
  margin-top: 34px;
}

.b-logo__name {
  font-size: 24.1px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: -0.005em;
  color: #ffffff;
  align-self: center;
}

.b-logo__name_marL {
  margin-left: 17px;
}

.b-logo__name_large {
  font-size: 31.9px;
  line-height: 20px;
}

.b-logo__img_large {
  width: 78px;
  height: 90px;
}

.b-siteNav__link {
  font-size: 16px;
  line-height: 36px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-decoration: none;
}

.b-siteNav__link_marR {
  margin-right: 43px;
}

.b-siteNav__link:hover {
  color: #fc635e;
  border-bottom: 4px solid #fc635e;
}

.b-infoHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-infoHeader__titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
}

.b-infoHeader__titleBox_marT {
  margin-top: 193px;
}

.b-infoHeader__title {
  font-size: 51px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.b-infoHeader__line {
  width: 107px;
  height: 8px;
  opacity: 0.2;
  background-color: #ffffff;
}

.b-infoHeader__text {
  font-size: 24.1px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.005em;
  color: #ffffff;
  text-align: center;
}

.b-infoHeader__text_marT {
  margin-top: 25px;
}

.b-infoHeader__button {
  margin-top: 44px;
}

.b-infoHeader__mouseImg {
  position: absolute;
  top: 335px;
  right: 240px;
}

.b-infoHeader__arrow {
  margin-top: 240px;
}

.b-title {
  font-size: 28.1px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #868686;
  text-align: center;
}

.b-title__underline {
  padding-bottom: 8px;
  border-bottom: 1px solid #adadad;
}

.b-title__subtitle {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.005em;
  color: #adadad;
  width: 520px;
  margin: 24px auto 0;
  text-align: center;
}

.b-title_receiveMar {
  margin-top: 64px;
}

.b-title_processMar {
  margin-top: 46px;
}

.b-title_whatDoWeDoMar {
  padding-top: 58px;
  margin-top: 22px;
}

.b-title_portfolioMar {
  margin-top: 77px;
}

.b-title_team {
  padding-top: 50px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PF Encore Sans Pro", "sans-serif";
}

.box {
  max-width: 1260px;
  margin: 0 auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.mainColor {
  color: #fc635e;
}

.firstButton {
  width: 205px;
  height: 56px;
  border: 2px solid #fc635e;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fc635e;
  font-size: 24.1px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.005em;
  border-radius: 5px;
}

.secondButton {
  font-size: 20.1px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: -0.005em;
  color: #f2f2f2;
  border: none;
  border-radius: 8px;
  background-color: #fc635e;
}

.receive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receive_element {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  width: 100%;
}

.receive_element_colomn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 208px;
}

.receive_element_colomn_hex {
  width: 101px;
  height: 116px;
  background-image: url(img/hex_pink.png);
}

.receive_element_colomn_hex:hover {
  background-image: url(img/hex.png);
}

.receive_element_colomn_hex:hover .receive_element_colomn_hex_rocket {
  background-image: url(img/rocket_receive_pink.png);
}

.receive_element_colomn_hex:hover .receive_element_colomn_hex_monitor {
  background-image: url(img/monitor_receive_pink.png);
}

.receive_element_colomn_hex:hover .receive_element_colomn_hex_market {
  background-image: url(img/market_receive_pink.png);
}

.receive_element_colomn_hex:hover .receive_element_colomn_hex_rupor {
  background-image: url(img/market_pink.png);
}

.receive_element_colomn_hex_rocket {
  background-image: url(img/rocket_receive.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 101px;
  height: 116px;
}

.receive_element_colomn_hex_monitor {
  background-image: url(img/monitor_receive.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 101px;
  height: 116px;
}

.receive_element_colomn_hex_market {
  background-image: url(img/market_receive.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 101px;
  height: 116px;
}

.receive_element_colomn_hex_rupor {
  background-image: url(img/market.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 101px;
  height: 116px;
}

.receive_element_colomn_title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.005em;
  color: #868686;
  text-transform: uppercase;
  margin-top: 19px;
  text-align: center;
}

.receive_element_colomn_line {
  width: 58px;
  color: #adadad;
  margin-top: 8px;
}

.receive_element_colomn_text {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: -0.005em;
  color: #adadad;
  margin-top: 18px;
  text-align: center;
}

.receive_arrow {
  margin-top: 50px;
}

.expand {
  background-image: url(img/expandbcg.jpg);
  box-sizing: border-box;
  padding: 91px 0 101px;
  height: 576px;
  margin-top: 16px;
}

.expand_box {
  border: 8px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expand_box_title {
  font-size: 50.9px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  text-align: center;
  margin-top: 133px;
}

.expand_box_button {
  margin-top: 60px;
  margin-bottom: 100px;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process_img {
  background-image: url(img/proces.png);
  position: relative;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  top: 57px;
  left: -6px;
}

.process_img_step1 {
  width: 130px;
  top: 136px;
  left: 108px;
}

.process_img_step2 {
  width: 130px;
  top: 194px;
  left: 374px;
}

.process_img_step3 {
  width: 130px;
  top: 42px;
  left: 460px;
}

.process_img_step4 {
  width: 186px;
  top: 133px;
  left: 643px;
}

.process_img_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.process_img_block_title {
  font-size: 24.1px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #868686;
}

.process_img_block_line {
  width: 76px;
  color: #adadad;
  margin-top: 5px;
}

.process_img_block_text {
  font-size: 15.1px;
  line-height: 17px;
  font-weight: 300;
  letter-spacing: -0.005em;
  color: #9f9f9f;
  margin-top: 8px;
}

.process_arrow {
  margin-top: 91px;
}

.whatDoWeDo_color {
  background-color: #f2f2f2;
}

.whatDoWeDo_box {
  display: flex;
  padding-top: 75px;
  justify-content: space-between;
}

.whatDoWeDo_box__secondBlock {
  padding: 136px 0 60px;
}

.whatDoWeDo_box__thirdBlock {
  padding: 125px 0 25px;
}

.whatDoWeDo_box_info {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.whatDoWeDo_box_info__right {
  align-items: flex-end;
}

.whatDoWeDo_box_info_header {
  display: flex;
  align-items: center;
}

.whatDoWeDo_box_info_header__first {
  margin: 33px 0 12px;
}

.whatDoWeDo_box_info_header__second {
  margin: 19px 0 19px;
}

.whatDoWeDo_box_info_header__third {
  margin: 16px 0 12px;
}

.whatDoWeDo_box_info_header_title {
  font-size: 28.1px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #868686;
  margin: 0 10px;
}

.whatDoWeDo_box_info_header_pinkBlock {
  width: 10px;
  height: 39px;
  background-color: #fc635e;
}

.whatDoWeDo_box_info_text {
  font-size: 15.1px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.015em;
  color: #9e9898;
}

.whatDoWeDo_box_info_text__right {
  text-align: right;
}

.whatDoWeDo_box_info_button {
  width: 167px;
  height: 44px;
}

.whatDoWeDo_box_info_button__left {
  margin-top: 37px;
}

.whatDoWeDo_box_info_button__right {
  margin-top: 30px;
}

.whatDoWeDo_arrow {
  margin: 0 auto;
  display: block;
}

.whatDoWeDo_arrow__first {
  padding: 42px 0 17px;
}

.whatDoWeDo_arrow__second {
  padding: 40px 0 15px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio_filter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fc635e;
  border-bottom: 1px solid #fc635e;
  padding: 16px 0;
  margin: 51px 0 47px;
  width: 100%;
}

.portfolio_filter_link {
  font-size: 20.1px;
  line-height: 26px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.005em;
  color: #fc635e;
  text-decoration: none;
  padding: 0 16px;
}

.portfolio_box {
  display: grid;
  grid-template-columns: 217px 230px 222px 235px;
  grid-template-rows: 200px 196px;
  grid-gap: 11px;
}

.portfolio_box :first-child {
  grid-column: 1/3;
}

.portfolio_box :last-child {
  grid-column: 3/5;
}

.portfolio_box_item {
  position: relative;
}

.portfolio_box_item:hover .portfolio_box_item_hover {
  display: flex;
}

.portfolio_box_item_img {
  background-position: center;
  width: 100%;
  height: 100%;
}

.portfolio_box_item_img_1 {
  background-image: url(img/portfolioimg1.jpg);
}

.portfolio_box_item_img_2 {
  background-image: url(img/portfolioimg2.jpg);
}

.portfolio_box_item_img_3 {
  background-image: url(img/portfolioimg3.jpg);
}

.portfolio_box_item_img_4 {
  background-image: url(img/portfolioimg4.jpg);
}

.portfolio_box_item_img_5 {
  background-image: url(img/portfolioimg5.jpg);
}

.portfolio_box_item_img_6 {
  background-image: url(img/portfolioimg6.jpg);
}

.portfolio_box_item_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 99, 94, 0.5);
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.portfolio_button {
  width: 192px;
  height: 51px;
  margin: 59px 0 24px;
}

.portfolio_arrow {
  margin-bottom: 15px;
}

.team {
  background-color: #f2f2f2;
}

.team_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team_box {
  display: flex;
  justify-content: space-around;
  margin-top: 85px;
  width: 100%;
}

.team_box_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
}

.team_box_item_photo {
  margin: 0;
}

.team_box_item_name {
  font-size: 28.1px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.005em;
  color: #565656;
  margin-top: 22px;
}

.team_box_item_job {
  font-size: 20.1px;
  line-height: 34px;
  font-weight: 300;
  color: #565656;
  margin-top: 7px;
}

.team_box_item_social {
  margin-top: 8px;
}

.team_box_item_social_link {
  margin: 7px;
}

.team_arrow {
  margin: 66px 0 12px;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people_scobe {
  margin-top: 53px;
}

.people_box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin-top: 74px;
}

.people_box_text {
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: -0.005em;
  color: #767676;
  width: 319px;
}

.people_box_photo {
  margin: 0 70px;
}

.people_box_title {
  margin: 0;
}

.people_arrow {
  margin-top: 52px;
}

.people_arrow_left {
  margin-right: 22px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer_hex {
  background-image: url(img/hex_large.png);
  background-repeat: no-repeat;
  width: 209px;
  height: 242px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto -125px;
  z-index: 1;
}

.footer_hex_title {
  font-size: 27px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin-bottom: 15px;
}

.footer_hex_text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: -0.005em;
  color: #ffffff;
  width: 159px;
}

.footer_map {
  background-image: url(img/map.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 338px;
}

.footer_logo {
  background-image: url(img/footerbcg.jpg);
  height: 211px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */